// App Colors
$main-color: #dcd7c9;
$main-color-light: #034068;
$main-color-dark: #2c3639;
$main-color-medium-light: #a27b5c;
$main-color-background: $main-color;

// App Colors Lighters
$main-color-success-lighter: #48c774;
$main-color-fail-light-lighter: #fbd1d4;
$main-color-fail-lighter: #fd110b;

// App base Colors
$white: #fff;
$gray: #ccc;
$gray-light: #f4f4f4;

// App shadows
$input-shadow: 0 2px 4px rgb(0 0 0 / 10%);

// App fonts
$main-font: 'Yantramanav';
$main-font-default: helvetica, arial, verdana, tahoma, sans-serif;
